/*https://coolors.co/302a30-698e92-f5dbd1-eeb88e-f23c24*/
body{
   background: #302A30;
   font-family: 'Roboto', sans-serif;
   color: #fff;
   font-size: 20px;
   line-height: 1.2em;
}

@media all and (max-width: 640px){
	body{
		font-size: 16px;
	}
}


h1{
	font-family: 'Bangers', cursive;
	letter-spacing: .1em;
	font-size: 2em;
	line-height: 1em;
	text-transform: uppercase;
	margin: 0.67em 0;
}


@media all and (max-width: 480px){
	h1{
		font-size: 1.2em;
	}
}


h2{
	letter-spacing: .1em;
	font-size: 1.7em;
	line-height: 1em;
	font-family: 'Bangers', cursive;
	margin: 0;
	margin-bottom: 40px;
}

h2 + p{
	margin-top: 0;
}

h3{
	letter-spacing: .1em;
	font-size: 1.3em;
	line-height: 1em;
	font-family: 'Bangers', cursive;
	margin: 0;
	margin-bottom: 20px;
}

h4{
	letter-spacing: .1em;
	font-size: 1em;
	line-height: 1em;
	font-family: 'Bangers', cursive;
	margin: 0;
	margin-bottom: 20px;
}

nav{
	background-color: #131113;
	-webkit-box-shadow: 0px 2px 15px -3px rgba(0,0,0,0.68); 
    box-shadow: 0px 2px 15px -3px rgba(0,0,0,0.68);
	z-index: 100;
	position: fixed;
	top: 0;
	width: 100%;
}

nav .nav__container{
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav a{
	color: #fff;
	text-decoration: none;	
	text-transform: uppercase;
	font-weight: bold;
}

nav a.active{
	text-decoration: underline;
}

nav a + a{
	margin-left: 15px;
}

ul{
	padding-left: 18px;
}

.container{
	padding: 0 20px;
}

.portfolio{
	margin-top: 0px;
}

.large{
	font-family: 'Bangers', cursive;
	letter-spacing: .1em;
	font-weight: bold;
	padding-right: 10px;
	text-transform: uppercase;
	font-size: 2em;
}

.portfolio__header{
	height: 100vh;
	overflow: hidden;
	position: relative;
}

.portfolio__header::after {
	  content: "";
	  background: url(../images/bg.jpg);
	  background-size: cover;
	  opacity: 0.3;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  position: absolute;
	  z-index: -1;   
}

.portfolio__header .container{
    z-index: 5;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 30px;
}

.portfolio__header img{
   width: 120%;
   height: auto;
   bottom: 0%;
   position: absolute;
   opacity: .3;
   z-index: 1;
}

.portfolio__skills{
	background-color: #f46553;
	padding: 60px 0;
	-webkit-box-shadow: 0px 2px 15px -3px rgba(0,0,0,0.68); 
    box-shadow: 0px 2px 15px -3px rgba(0,0,0,0.68);
}

.portfolio__skills__list{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.portfolio__skills__list > div {
    border: 1px solid #fff;
    padding: 10px 20px;
    width: 18%;
}

@media all and (max-width: 768px){	
	.portfolio__skills__list > div {
		width: 41%;
		margin-bottom: 30px;
	}
}


@media all and (max-width: 480px){
	.portfolio__skills__list > div {
		width: 100%;
		margin: 0;
		margin-bottom: 30px;
	}
}




.portfolio__work{
	padding: 60px 0;
}

.portfolio__work__flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.portfolio__work__flex__item{
	width: 31%;
	margin-bottom: 34px;
}



.portfolio__work__flex__item img{
	transition: opacity 250ms ease-in-out;
}

.portfolio__work__flex__item:hover img{
	opacity: .5;
}


.imgFrame{
	background-color: #f46553;
	display: flex;
}

@media (max-width: 768px){
	.portfolio__work__flex__item{
		width: 48%;
	}
}

@media all and (max-width: 480px){
	.portfolio__work__flex__item{
		width: 100%;
		margin: 0;
		margin-bottom: 34px;
	}
}


.portfolio__work__flex__item h4{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.2em;
	margin-top: 10px;
}

.portfolio__work__flex__item  p{
	font-size: 1em;
	color: #fff;
	text-decoration: none;
}

.portfolio__github{
	margin-top: 40px;
}

.portfolio__github p {
	margin-bottom: 60px;
}

.portfolio__github a{
	color: #fff;
}

.portfolio__work__flex__item a {
	display: block;
	margin-bottom: 10px;
}


.portfolio__work__flex__item img {
	width: 100%;
	height: auto;
}

footer{
	padding: 20px 0;
	font-style: italic;
	font-size: .6em;
	
	background-color: #000;
}

footer .container{
	display: flex;
	justify-content: space-between;
}

@media all and (min-width: 640px){
	nav .nav__container{
		padding: 0 40px;
	}
	
	.container{
		padding: 0 40px;
	}
}


@media all and (min-width: 960px){
	nav .nav__container{
		padding: 0 80px;
	}
	
	.container{
		padding: 0 80px;
	}
}

.buffer{
	flex: 1;
}